body {
    background-color: #f2f3f4;
    font-family: Arial;
}

header {
    font-size: 20px;
    width: 800px;
    background-color: #00adb5;
    margin: auto;
    padding: 20px;
    color: #ffffff;
}

menu {
    width: 800px;
    margin: auto;
    background-color: #3498db;
    padding: 20px;
}

menu a {
    color: #ecf0f1;
    margin: 0 20px 0 0;
}

article {
    width: 800px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
}

article h1 {
    margin: 0 0 10px 0;
}

article img {
    margin: 0 0 20px 0;
}

article p {
    margin: 0 0 20px 0;
    line-height: 25px;
}

article a {
    margin: 0 0 20px 0;
    color: black;
}

footer {
    width: 800px;
    margin: auto;
    background-color: #95a5a6;
    padding: 5px 20px 5px 20px;
    color: #ffffff;
    text-align: center;
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
}